footer#footer
  .container.align-items-center
    .row.justify-content-center
      .links
        .footer-logo
          a(href="https://ecad.es")
            img.logo(src="https://www.ecad.es/images/logo.png" alt='logo' title='ECAD Logo')
        .social-icons
          ul
            li
              a.envelope(href="mailto:info@ecad.es")
                i.fa.fa-envelope
            li
              a.linkedin(href="https://www.linkedin.com/company/ecad.es")
                i.fa.fa-linkedin
            li
              a.facebook(href="https://www.facebook.com/EngineeringComputerAidedDesign/")
                i.fa.fa-facebook
  .container
    .row.justify-content-between
      .col-12.col-sm-6
        .row.justify-content-center
          p @ 2020 ecad
      .col-12.col-sm-6
        .row.justify-content-center
          p engineering computer aided design

