head(lang="es")
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='Ecad titulaciones')
  meta(name='author' content='Adolfo Onrubia')

  link(href='/css/main.css' rel='stylesheet')
  link(href='/css/secondary.css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet')
  link(rel='shortcut icon' href='https://www.ecad.es/images/favicon.ico' defer='defer')

  title ECAD Titulaciones
