header.home
  .container
    .row.justify-content-between
      .logo
        img.logo(src="https://www.ecad.es/images/logo.png" alt='logo' title='ECAD Logo')
      .link
        nav.navbar.navbar-expand-md.navbar-light(style="background-color: #028fcc")
          a.navbar-brand(href="#")
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          div.collapse.navbar-collapse#navbarNav
            ul.navbar-nav
              li.nav-item.active
                a.nav-link(href="#") CERTIFICACIÓN

