doctype html
html
  include includes/head.pug
  body
    include certificados/header.pug
    .error
      h1 ¡Obtén tu certificado con nosotros!
      a(href="https://ecad.es" class="btn btn-primary btn-lg" role="button" aria-disabled="true") Ver más

    include includes/footer.pug
  include scripts/load.pug
