section.certificado
  .container.align-items-center
    .row.justify-content-md-center
      .certificado
        i.fa.fa-check.fa-4x(style="color: green")
        h2 Certificado
        p Desde ecad (Engineering & Computer Aided Design) certificamos que D. #[strong #{nombre}] con DNI #[strong #{dni}] ha realizado, y superado, con éxito nuestro #[strong #{formacion}].
